body {
	background: black;
	background-image: url("picture_filter-01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;
}

.enter {
	margin-top: 15vmin;
	text-align: center;
}

input[type = text]{
	width: 55vmin;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.go {
	background: #F95D5D;
	border: 1px ;
    border-radius: 3px;
    box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
    padding: 12px 30px;
}

.sl {
	color: white;
	cursor: pointer;
	font-size: 3vmin;
	font-family: 'Roboto', sans-serif;
	margin-left: 0px;
	padding: 1.5vmin 1.5vmin;
	text-align: right;
}

.logo {
	bottom: 13px;
	display: block;
	height: auto;
	margin: auto;
	margin-bottom: -12vmin;
	margin-top: 9vmin;
	max-width: 350px;
	width: 60%;
}

.Midtrade{
	color : white;
	font-family: 'Roboto', sans-serif;
	font-size: 5vmin;
	margin-top: 1vmin;
	text-align: center;
}

.Skip{
	color: white;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-size: 4vmin;
	margin-bottom: 10vmin;
	margin-top: 40vmin;
	text-align: center;
}

@media only screen and (min-width: 500px) {
	.sl {
		font-size: 2.5vmin;
	}

	.logo {
		margin-bottom: -10vmin;
	}

	.Midtrade{
		font-size: 3vmin;
		margin-top: 3.2vmin;
	}

	.enter{
		margin-top: 7vmin;
	}

	.Skip {
		font-size: 3vmin;
		margin-bottom: 2vmin;
		margin-top: 32vmin;
	}
}

